venv/
.env
.git 
.DS_Store
.vscode 
ecommerce/__pycache__/__init__.cpython-39.pyc
ecommerce/__pycache__/asgi.cpython-39.pyc
ecommerce/__pycache__/settings.cpython-39.pyc
ecommerce/__pycache__/urls.cpython-39.pyc